.topline {
  margin-bottom: 32px;
}

.topline___header {
    display: flex;
    justify-content: space-between;
  }
  
  .icon {
    color: red;
    width: 50px;
  }
  
  .stories {
    display: flex;
    justify-content: space-between;
  }

  .slide {
    display: flex;
    justify-content: center;
  }
  